* {
    /* border: 1px solid hotpink; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: darkolivegreen;
    background-color: bisque;
    text-align: center; 
    font-family: 'Acme', sans-serif;
    flex-grow: 2; 
}
body section {
    display: flex;
    flex-direction: row;
    justify-content: center;   
    align-content: center;
    flex-grow: 2;
}
header {
    flex: 0 100px;
    height: 10vh;
    align-content: flex-start;
    font-size: 32px;
    margin-top: 0;
    /* position: fixed;
    width: 100vw; */
}
footer p {
    flex-grow: 0;
    height: 5vh;
    justify-content: center;
    align-self: flex-end;
    margin-top: 0px;
    margin-bottom: 0px;
}

nav, aside {
    flex: 2 100px;
    width: 250px;
    min-width: 100px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
#mode, #theme, .sidebar, #sound, #newGame {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav h4 {
    font-weight: bold;
    width: 160px;
}

aside p {
    font-weight: bold;
    width: 120px;
    justify-content: center;
    /* margin: 20px 100px;    */
}

nav button {
    background-color: indianred;
    color: bisque;
    font-weight: bold;
    width: 120px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    cursor:pointer;
}

button:hover {
    border: black 5px solid;

}
.soundBtn {
    background-color: darkolivegreen;
}
.soundBtn.off {
    background-color: grey;
}

#container {
    justify-content: center;
    width: 80vw;
    height: 85vh;  
}
.playingTable {
    cursor: pointer;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    height: 80%;
    width: 80%;
    padding-left: 3%;
    background-image: url(images/green.jpg);
    border-radius: 8px;
}

.flipCard.flip {
    transform: rotateY(-180deg);
    /* transform: rotateY(540deg); */
}

/* .matchedSet {
    width: 21%;
    height: 21%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
} */

.flipCard {
    perspective: 1000px;
    width: 21%;
    height: 21%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    border-radius: 10px;
    border: none;
}

.reset {
    transition: transform 0s;;

}



.easy {
    width: 21%;
    height: 21%;
}

.hard {
    width: 14%;
    height: 11.5%;
    justify-content: stretch;

}

/* .matchedset.hard {
    width: 16%;
    height: 12%;
    position: absolute;
    border-radius: 10px;
} */
.flipCard:hover {
    border: bisque 5px solid;
    border-radius: 10px;
    position: relative;
}
.flipCard.flip:hover {
    width: 21%;
    height: 21%;
    border: none;
    border-radius: none;
}
.flipCard.hard.flip:hover {
    width: 14%;
    height: 11.5%;
}

.backOfCard, .faceOfCard {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    border: black 2px solid;
    border-radius: 10px;
}
.backOfCard {
    background-color: black;
}
.backOfCard img, .faceOfCard img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    position: absolute;
}
.faceOfCard {
    transform: rotateY(180deg);
    color: black;
    font-size: 20px;
}
.pink {
    background-color: hotpink;
}
.red {
    background-color: red;
}
.orange {
    background-color: orange;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.teal {
    background-color: teal;
}
.blue {
    background-color: cornflowerblue;
}
.purple {
    background-color: rgb(118, 28, 192);
}
.tan {
    background-color: rgb(192, 152, 99);
}
.grey {
    background-color: grey;
}
.brown {
    background-color: rgb(65, 26, 26);
    color: bisque;
}
.lightYellow {
    background-color: rgb(223, 223, 104);
}
.peach {
    background-color: rgb(245, 188, 139);
}
.black {
    background-color: black;
    color: bisque;
}
.white {
    background-color: white;
}
.gold {
    background-color: goldenrod;
}
.lightPink {
    background-color: pink;
}
.darkRed {
    background-color: rgb(112, 18, 6);
    color: bisque;
}
.lightGreen {
    background-color: lightgreen;
}
.beige {
    background-color: rgb(247, 239, 196);
}
.lime {
    background-color: lime;
}
.aqua {
    background-color: aqua;
}
.darkBlue {
    background-color: midnightblue;
    color: bisque;
}
.lilac {
    background-color: rgb(201, 85, 255);
}
img.dinos, img.sports {
    display: none;
    position: absolute;
}
.hidden {
    display: none;
}
img.display {
    display: block;
}

/* .matchedSet.hidden {
    display: none;
}
.matchedSet.display {
    display: block;
} */

/* #newGame,  */
/* #mode {
    display: none;
} */